#include <winver.h>

1 VERSIONINFO
FILEVERSION             1,0,1,0
PRODUCTVERSION        	1,0,1,0
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "EEDI3 OpenCL filter."
        VALUE "FileDescription",  "EEDI3CL for AviSynth+."
        VALUE "FileVersion",      "1.0.1"
        VALUE "InternalName",     "EEDI3CL"
        VALUE "OriginalFilename", "EEDI3CL.dll"
        VALUE "ProductName",      "EEDI3CL"
        VALUE "ProductVersion",   "1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
